$base-background-color: #170A00;
$base-background-color2: #fff;


$base-text-color: #fff;
$additional-text-color: #9a9a9a;
$additional-text-color2: #eaa06b;

$base-border-color: #eaa06b;

$base-font-family: 'Lato-Regular', sans-serif;
$additional-font-family: 'Future-PT-Book' serif;