<!-- src/template.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.favicon %>" type="image/x-icon">
  </head>

  <body class="root">
    <header class="header">123</header>
    <section class="content container">
      <div class="menu">
        <h2 class="title">меню</h2>
        <div class="tabs">
          <ul class="tabs__list">
            <li class="tabs__item">кофе</li>
            <li class="tabs__item">выпечка</li>
          </ul>
          <div class="tabs__content"></div>
        </div>
      </div>
      <div class="offers-week">789</div>
      <div class="about">456</div>
      <div class="gallary">012</div>
    </section>
    <footer class="footer">789</footer>
  </body>
</html>