@font-face {
  font-family: 'coffeeToDay_regular';
  src: url(../assets/fonts/RocknRollOne-Regular.ttf) format('ttf');
}
@font-face {
  font-family: 'coffeeToDay_bold';
  src: url(../assets/fonts/DelaGothicOne-Regular.ttf) format('ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Futura Pt Book';
  src: url(../assets/fonts/Futura-Pt-Book.ttf) format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-regular';
  src: url(../assets/fonts/Lato-Regular.ttf) format('ttf');
  font-weight: normal;
  font-style: normal;
}

.root {
  background-color: $base-background-color;
  color: $base-text-color;
}

.container {
  max-width: 1152px;
  margin: 0 auto;
  padding: 0 10px;
}